@charset "UTF-8";
.products-header{
	margin:60px 0 50px;
}
.products-header>h1{
	color:#333;
	text-align:center;
	padding-top:100px;
	letter-spacing:-1.5px;
	line-height:39px;
	font-weight:200;
}

#fundList{
	text-align : center;
	display:inline-block;

	
}
#fundList tr {
	margin-bottom:30px;
}

#fundList tr td {
	border: 1px solid #000;
	width: 200px;
	height :200px;
	
}