<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	    
	    
    <mapper namespace="com.spring.hexagon.persistence.GuestDAO">
    
    	<!-- 아이디 정보확인 -->
    	<select id="idCheck" resultType="com.spring.hexagon.vo.MemberVO">
    		select * from guest_tbl 
    		where guestid=#{guestid}
    	</select>
    	
    	<!-- 아이디 중복확인 -->
    	<select id="idCheck2" resultType="int">
    		select count(*) from guest_tbl 
    		where guestid=#{guestid}
    	</select>
    	
    	<!-- 회원가입 -->
    	<insert id="insertMember" parameterType="com.spring.hexagon.vo.MemberVO">
    		insert into guest_tbl(guestid,pass,name,address,mobile,profile_img,emailcode,join_date)
			values ( #{guestid} , #{pass} ,#{name},#{address},#{mobile},#{profile_img},#{emailcode},sysdate)  
    	</insert>
    	<!-- 회원가입2 -->
    	<update id="insertMember2" parameterType="com.spring.hexagon.vo.MemberVO">
    		update guest_tbl
    		set favor = #{favor}, job = #{job}, work_year = #{work_year} , married = #{married}, house = #{house}
    		, car = #{car} , typohouse = #{typehouse}
    		where guestid = #{guestid}
    	
    	</update>
    	
    	
    	<!-- 이메일 인증 -->
    	<update id="emailChk" >
	    	update guest_tbl
			set emailchk=1
			where emailcode = #{emailcode}
    	</update>
    	
    </mapper>