<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	    
	    
    <mapper namespace="com.spring.hexagon.persistence.HostDAO">
	    <!-- 관리자 QnA 정보  -->
	    <select id="listAll" resultType="com.spring.hexagon.vo.HostVO">
	    	SELECT qna_no, guestid, qna_type, qna_title, qna_content, qna_pass, qna_date
	    	From qna_tbl
	    	<include refid="search"></include>
	    	ORDER BY qna_no desc
	    </select>
	    
	    <select id="countArticle" resultType="int">
	    	SELECT COUNT(*) FROM qna_tbl
	    	<include refid="search"></include>
	    </select>
	    
	    <sql id="search">
	    	<choose>
	    		<!-- 검색옵션이 전체 검색일 경우 -->
	    		<when test="searchOption == 'all'">
	    			WHERE guestid like '%'||#{keyword}||'%'
	    			OR qna_content like '%'||#{keyword}||'%'
	    			OR qna_title like '%'||#{keyword}||'%'
	    		</when>
	    		<!-- 전체 검색이 아닐 경우 -->
	    		<otherwise>
	    			WHERE ${searchOption} like '%'||#{keyword}||'%'
	    		</otherwise>
	    	</choose>
	    </sql>
	    
	     <select id="getArticleCnt" resultType="int">
			SELECT COUNT(*) FROM qna_tbl
	    </select>
	    
	    <select id="getArticleList" resultType="com.spring.hexagon.vo.HostVO" parameterType="com.spring.hexagon.vo.HostVO">
	    	SELECT * FROM qna_tbl ORDER BY qna_no DESC
	    </select> 
	    
	    <!-- 관리자 공지사항 정보 -->
	    <select id="getNoticeCount" resultType="int">
	    	SELECT COUNT(*) FROM notice_tbl
	    </select>
	    
	    <select id="getNoticeList" resultType="com.spring.hexagon.vo.HostVO" parameterType="com.spring.hexagon.vo.HostVO">
	    	SELECT * FROM notice_tbl ORDER BY nb_num DESC
	    </select>
	        
	    <insert id="insertNotice" parameterType="com.spring.hexagon.vo.HostVO">
	    	INSERT INTO notice_tbl(nb_num, nb_title, nb_date, nb_state, nb_content, nb_count, nb_type)
	    	VALUES(notice_tbl_seq.nextval, #{nb_title}, sysdate, 1, #{nb_content}, 0, #{nb_type})
	    </insert> 

		<delete id="deleteNotice" parameterType="int">	    	
			DELETE FROM notice_tbl WHERE nb_num = #{nb_num}
	    </delete>
	    
	    <select id="getNotice" resultType="com.spring.hexagon.vo.HostVO" parameterType="com.spring.hexagon.vo.HostVO">
	    	SELECT * FROM notice_tbl WHERE nb_num = #{nb_num}
	    </select>
	    <update id="updateNotice" parameterType="com.spring.hexagon.vo.HostVO">
	    	UPDATE notice_tbl SET nb_type=#{nb_type}, nb_title = #{nb_title}, nb_content=#{nb_content} 
	    	WHERE nb_num=#{nb_num}
	    </update> 
	<!--  ////////////////////////////////////////////////////////////-->
	
		<select id="getQnA" resultType="com.spring.hexagon.vo.HostVO" parameterType="com.spring.hexagon.vo.HostVO">
			SELECT * FROM qna_tbl WHERE qna_no = #{qna_no}
		</select>
		
		<update id="updateQnA" parameterType="com.spring.hexagon.vo.HostVO">
	    	UPDATE qna_tbl SET qna_content=#{qna_content} 
	    	WHERE qna_no=#{qna_no}
	    </update> 
    </mapper>