<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	    
	    
<mapper namespace="com.spring.hexagon.persistence.FundDAO">
	<!-- // 상품갯수 -->
	<select id="getFunCnt" resultType="int">
		SELECT count(*) as cnt FROM fund_detail_tbl
	</select>
	
	<select id="fundList" resultType="com.spring.hexagon.vo.Fund_itemVO">
		SELECT * FROM Fund_item_tbl 
		
	</select>
	
</mapper>